{% sw_extends '@Storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_columns %}
    {{ parent() }}

    {{ dump() }}
    <h1>hello world</h1>

    {% if page.footer.extensions.swag_shop_finder %}
        {% sw_include '@Storefront/layout/footer/shop-finder-footer.html.twig' with
            {
                'swag_shop_finder': page.footer.extensions.swag_shop_finder
            }
        %}
    {% endif %}
{% endblock %}
